@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lora&family=Tilt+Prism&display=swap');


body{
    margin: 0;
}
.header-content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-content img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}


header{
    width: 100%;
    height: 20vh;
    background-image: url(../img/img_intro.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*display: flex;*/
    /*background: black;*/
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Opacidad del 80% */

}

.modal:hover{
    transition: all 0.2s;
    transform: scale(1.5);
}

/*#logo .agrandado{
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 10;
}*/

@media screen and (min-width: 768px){
    .main-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/img_intro.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .header-content{
        justify-content: center;
    }
}

.toggle-menu{
    position: absolute;
    top: 4.9rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 1;
}
@media screen and (min-width: 768px) {
    .toggle-menu{
        display: none;
    }
}

.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    transition: transform 0.3s;
    transform: translateY(-200%);
    position: relative;
    z-index: 1;
}

.main-menu-show{
    transform: translateY(0);
    /*z-index: 1;*/
}

@media screen and (min-width: 768px) {
    .main-menu{
        height: auto;
        background-color: transparent;
        /*background-color: rgba(0, 0, 0, 0);*/
        flex-direction: row;
        transform: translateY(0);
        z-index: 1;
    }
}
.main-menu_item{
    padding: 1em;
}

.main-menu_link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.main-menu_link:hover{
    color: red;
}



/*********************************************************************************/

/******************** INTRO MAIN *************************************************/
main {
    position: relative;
    height: 80vh;
    background-image: url(../img/img_intro.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}
main .intro{
    /*position: relative;*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

main .intro h1{
    /*position: relative;*/
    color: red;
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    font-weight: 400;
    /*text-align: center;*/
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);       
}
main .intro p{
    font-family: 'lora', serif;
    /*font-style: italic;*/
    color: white;
}

/***ANIMACIONES***/
/*
#h1_intro{
    animation: mover 2s 1;
}
@keyframes mover{
    from{
        opacity: 0;
        transform: translateX(-1000px);
    }
    to{
        opacity: 1;
    }
}
#p_intro{
    animation: mover-p 2s 1;
}
@keyframes mover-p{
    from{
        opacity: 0;
        transform: translateX(1000px);
    }
    to{
        opacity: 1;
    }
}*/


/*********************************************************************************/

/*********************************INFORMACIÓN*************************************/
.conteiner_info {
    height: auto;
    background-image: url('/img/fondo_negro_rojo.jpg');
    background-size: cover;
    background-position: center;
    /*background: rgb(0, 0, 0);*/
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}
.info{
    position: relative;
    /*margin-top: 0;*/
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 1;
    /*border: 2px solid green;*/
}
.info_img img{
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px black;
}
.info_datos{
    position: relative;
    display: flex;
    flex-direction: column;
}

.info .info_datos h2{
    color: rgb(255, 0, 0);
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);   
}
.info .info_datos p{
    font-family: 'lora', serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    .info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info_img img{
        margin-top: 15px;
        width: 250px;
        height: 250px;
    }
    .info .info_datos h2, p{
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
}

/***ANIMACIONES***/

/*.info_img img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}
@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale:  100%;
    }
}

.info_datos{
    view-timeline-name: --info-datos;
    view-timeline-axis: block;

    animation-timeline: --info-datos;
    animation-name: up;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}
@keyframes up{
    from{
        opacity: 0;
        transform: translateY(2000px);
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
@media screen and (max-width: 768px) {
    @keyframes up {
        from{
            opacity: 0;
            transform: translateY(1000px);
            scale: 25%;
        }
    }
}*/

/*********************************************************************************/

/******************************SKILLS*******************************************/

.container_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.tag-list{
    width: 25rem;
    font-family: 'lora', serif;
    position: relative;
    overflow: hidden;
}
.inner{
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 6s linear infinite;
}
.tag{
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #fff;
    font-size: 0.9rem;
    background-color: #334155;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 
        0 0.1rem 0.2rem #00000033,
        0 0.1rem 0.5rem #0000004d,
        0 0.2rem 1.5rem #00000066;
}
.tag span{
    font-size: 1.2rem;
    color: #64748b;
}

.fade{
    position: absolute;
    background: linear-gradient(90deg,
    #000000, transparent 30%,
    transparent 70%, #000000);
    inset: 0;
    pointer-events: none;
}

@keyframes loop{
    0%{
        transform: translatex(0);
    }
    100%{
        transform: translateX(-50%);
    }
}



/*******************************FOOTER*******************************************/

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 40vh;
    background: black;
    position: relative;
    overflow: hidden;
}

footer .bubbles{
    position: relative;
    display: flex;
    z-index: 0;
}

footer .bubbles span{
    position: relative;
    width: 5px;
    height: 80px;
    background: red;
    margin: 0 10px;
    border-radius: 6px;
    box-shadow: 0 0 0 5px rgb(187, 0, 0),
    0 0 50px red,
    0 0 100px red;
    animation: animate 15s  linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 5px rgb(221, 214, 214),
    0 0 50px rgb(255, 255, 255),
    0 0 100px rgb(255, 255, 255);
}

@keyframes animate {
    0%{
        transform: translateY(70vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);  
    }
}

footer .footer{
    position: relative;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
footer .footer::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 1;
}

footer .footer ul{
    position: relative;
    display: flex;
    z-index: 2;
}
footer .footer ul li{
    position: relative;
    list-style: none;
    margin: 10px;
}
footer .footer ul li a{
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}
footer .footer ul li a:hover{
    transform: translateY(-20px);
}
footer .footer ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
footer .footer ul li a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}

footer .derechos_autor{
    position: relative;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #fff;
}

/*********************************************************************************/

